/* Import or link variable.css file */
@import url(/css/variable.css);

/*Import or link reset.css file */
@import url(/css/reset.css);






/* Reuse Css style Code */

header,nav{
    background: var(--rich-black-fogra-29);
    /* background: red; */
}
.navbar,
.banner,
.movies,
.category,
.live{
    /* padding: 0 var(--px); */
    padding: 0 80px;
}



/* Main container Style */
.container{
    max-width:1440px;
    margin: auto;
    /* border: 2px solid red; */
}

/* main navbar desigen or style */
.navbar{
    height: 300px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;



}
/* Small Screen menu button style */
.navbar-menu-btn{
    /* border: 1px solid red; */
    /* background-color: blue; */
    display: none;
}

/* Navbar navigation style  */
nav{
    margin-right: 200px;

}
.navbar-nav{
    display: flex;
}
/* #Rindicator{
    margin-right: 60px;
    background-color: red;
} */
.navbar-nav li:not(:last-child){
    margin-right: 60px;
}

.navbar-link{
    font-size: var(--fs-sm);
    font-weight: var(--fw-5);
}
.navbar-link:hover{
    color: var(--light-azure);
}


/* live indicator style */

.indicator{
    position: relative;
}
.indicator::after{
    content: " ";
    background: var(--live-indicator);
    /* background: var(--blue); */
    position: absolute;
    top:calc(50% - 1px);
    /* top:calc(50% -); */
    right: -15px;
    width: 4px;
    height: 4px;
    box-shadow: 0 0 0 2px var(--live-indicator-shadow);
    border-radius: 5px;
}

/* Navbar Form and Button style */

.navbar-actions{
    display: flex;
    align-items: center;
}
.navbar-form{
    position: relative;
    margin-right: 50px;
    /* border: 1px solid red; */
}
.navbar-form-search{
    background: var(--oxford-blue);
    width: 100%;
    padding: 12px 20px;
    border-radius: 15px;
    color: var(--off-white);
    font-size: var( --fs-sm);
    font-weight: var(--fw-5);
}
.navbar-form-btn{
    background: var(--oxford-blue);
    position: absolute;
    top: calc(50% - 10px);
    right: 10px;

}
.navbar-form-btn ion-icon,
.navbar-form-btn ,ion-icon{
    font-size: 20px;
    color: var(--light-azure);
    --ionicon-strock-width:50px;
    /* width: var(--ionicon-strock-width); */
}
.navbar-form-btn:hover ion-icon,
.navbar-form-search::placeholder{
    color: var(--off-white);

}

/* Navbar-form close button & navbar search button
for all device */

.navbar-form-close,
.navbar-search-btn{
    display: none;
    /* display: flex; */
}
.navbar-signin{
    display: flex;
    align-items: center;
    font-size: var(--fs-sm);
}
.navbar-signin ion-icon{
    font-size: 22px;
    color:var(--light-azure);
    margin-left: 5px;
    --iconicon-stroke-width:30px;

}
.navbar-signin:hover span{
    color: var(--light-azure);
}






/* Banner Card Style */

.banner{
    margin-bottom: 60px;
    /* border: 1px solid blue; */
}
.banner-card{
    position: relative;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    /* border: 1px solid red; */
}
.banner-img{
    /* object-position: top; */
    object-position:25% 25%;
}
.banner-card:hover .banner-img{
    transform: scale(1.1);
}
/* .banner-card .banner-img:hover{
    transform: scale(1.1);
} */

.banner-card .card-content{
    position: absolute;
    right: 80px;
    bottom: 60px;
    left: 80px;
    /* border: 1px solid yellow; */
}

.banner-card .card-info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.banner-card .card-info div{
    display: flex;
    align-items: center;
    margin-right: 20px;

}
.banner-card .card-info ion-icon{
    font-size: 20px;
    color: var(--azure);
    margin-right: 5px;
}
.banner-card .card-info span{
    font-weight: var(--fw-6);
}
.banner-card .card-info .quality{
    /* color: red; */
    background: var(--azure);
    padding: 2px 5px;
    border-radius: 5px;
    font-weight: var(--fw-7);
}

.banner-card .card-title{
    font-size: 2.5em;
    color: var(--white);
    text-shadow: 6px 0 6px #0007;
    /* text-shadow: 6px 0 6px rgb(255, 0, 0); */
}



/* Movies Section */
.movies{
    margin-bottom: 60px;
    /* border: 1px solid red; */
}

/* Filter bar style */
.filter-bar{
    display: flex;
    justify-content:space-between;
    /* border: 1px solid blue; */
    align-items: center;
    background: var(--oxford-blue);
    padding: 20px 30px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.filter-bar select{
    color: var(--white);
    font-size: var(--fs-sm);
    margin-right: 15px;
    cursor: pointer;
}
.filter-bar option{
    background: var(--oxford-blue);
}

.filter-radios{
    /* border: 1px solid yellow; */
    position: relative;
    background: var(--rich-black-fogra-29);
    padding: 10px;
    border-radius: 15px;
}

.filter-radios input{
    display: none;
}
.filter-radios label{
    position: relative;
    /* padding: 0 10px; */
    margin: 0 10px;
    font-size: var(--fs-sm);
    user-select: none;
    cursor: pointer;
    z-index: 10;
}
/* .filter-radios #checked{
    color: var(--light-azure);
}
.filter-radios label:hover{
    color: var(--light-azure);
} */
.filter-bar input:checked + label,
.filter-bar label:hover{
    color: var(--light-azure);
}

/* input ~ .checked-radio-bg{
    --width:85px;
    --left:5px;

    background: var(--oxford-blue);
    position: absolute;
    top: 5px;
    left: var(--left);
    bottom: 5px;
    width: var( --width);
    border-radius: 10px;
} */
.filter-radios .checked-radio-bg{
    --width:90px;
    --left:5px;

    background: var(--oxford-blue);
    position: absolute;
    top: 5px;
    left: var(--left);
    bottom: 5px;
    width: var( --width);
    border-radius: 10px;  
}

#popular:checked ~ .checked-radio-bg{
    --width: 73px;
    --left: 98px;

    left: var(--left);
    width: var(--width);
}
#newest:checked ~ .checked-radio-bg{
    --width: 77px;
    --left: 175px;

    left: var(--left);
    width: var(--width);
}



/* Movies Grid Style */

.movies-grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(140px,1fr)); */
    grid-template-columns: repeat(7,1fr);
    /* gap: 30px; */
    gap: 20px;
    gap: 18px;
    margin-bottom: 60px;
}
  
  .movie-card {
    /**
     * variable for scaling overlay element on card hover 
     */
    --scale: 0.8;
    cursor: pointer;
}
  
  .movie-card .card-head {
    position: relative;
    height: 225px;
    border-radius: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-bottom: 10px;
    overflow: hidden;
}
  
  .movie-card:hover .card-img { 
    transform: scale(1.1); 
}
  
  .movie-card .card-overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    backdrop-filter: blur(5px);
}
  
  .movie-card:hover .card-overlay {
     opacity: 1;
}
  
  .movie-card .bookmark,
  .movie-card .rating {
    position: absolute;
    top: 15px;
    padding: 6px;
    border-radius: 10px;
    color: var(--light-azure);
    transform: scale(var(--scale));
}
  
  .movie-card .bookmark {
    background: var(--oxford-blue);
    left: 15px;
}
  
  .movie-card .bookmark ion-icon:hover {
    color: var(--yellow);
     
}
  
  .movie-card .rating {
    display:     flex;
    align-items: center;
    right: 15px;
    background: var(--oxford-blue-50);
    padding: 4px;
}
  
  .movie-card .rating span {
    color: var(--white);
    /* font-size: 13px; */
    font-size: 12px;
    font-weight: var(--fw-5);
    margin-left: 5px;
    margin-right: 3px;
}
  
  .movie-card ion-icon {
    /* font-size: 16px; */
    font-size: 15px;
    display: block;
    --ionicon-stroke-width: 50px;
    /* color: var(--white); */
}
  
  .movie-card .play {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(var(--scale));
}
  
  .movie-card .play ion-icon {
    font-size: 60px;
    --ionicon-stroke-width: 20px;
    color: var(--white);
}
  
  .movie-card:hover :is(.bookmark, .rating, .play) { 
    --scale: 1; 
}
  
  .movie-card .card-title {
    font-size: var(--fs-md);
    font-size: 16px;
    font-weight: var(--fw-5);
    margin-bottom: 2px;
    /* color: red; */
}
  
  .movie-card:hover .card-title { 
    color: var(--light-azure); 
}
  
  .movie-card .card-info {
    display: flex;
    font-size: var(--fs-x-sm);
    font-weight: var(--fw-5);
}
  
  .movie-card .genre { 
    margin-right: 8px; 
}


/* load more section */

.load-more{
    background: var(--oxford-blue);
    display: block;
    margin:auto;
    padding: 20px 50px;
    border-radius:   10px;
    font-size: var(--fs-sm);
    font-weight: var(--fw-5);
    color: var(--white);
    transition: all 0.6s ease-out;
}
.load-more:hover{
    background: var(--light-azure);
}


/* Category Section */

.section-heading{
    font-size: var(--section-heading);
    font-weight: var(--fw-5);
    margin-bottom: 60px;
}

.category{
    margin-bottom: 60px;
}
.category-grid {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    gap: 13px;
}

.category-card{
    /* border: 1px solid red; */
    position: relative;
    height: 150px;
    /* border-radius: 10px; */
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    height: 130px;
    /* width: 235px; */

}
.category-card::after{
    content: " ";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, transparent 20%,#000a);
}

.category-card:hover .card-img{
    transform: scale(1.1);
}
.category-card .name,
.category-card .total{
    position: absolute;
    bottom:20px;
    color: var(--white);
    z-index: 20;

}
.category-card .name{
    left: 20px;
    font-size: 20px;
    font-size: 17px;
}

.category-card .total{
    right: 20px;
    /* font-size: 18px; */
    font-size: 14px;
    background: var( --oxford-blue-50);
    padding: 5px 8px;
    border-radius: 8px;
}
.category-card:hover .name{
    color: var(--light-azure);
    color: var(--white);
}



/* Live Section */

.live { margin-bottom: 60px; }

.live-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.live-card { cursor: pointer; }

.live-card .card-head {
  position: relative;
  height: 250px;
  border-radius: 20px;
  margin-bottom: 15px;
  overflow: hidden;
}

.live-card .card-head::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, transparent 20%, #000a);
}

.live-card:hover .card-img { transform: scale(1.1); }

.live-card .live-badge,
.live-card .total-viewers {
  position: absolute;
  left: 30px;
  border-radius: 10px;
  padding: 5px 10px;
  z-index: 10;
}

.live-card .live-badge {
  top: 30px;
  font-size: var(--fs-x-sm);
  font-weight: var(--fw-5);
  background: var(--live-indicator);
}

.live-card .total-viewers {
  bottom: 30px;
  font-size: 15px;
  font-weight: var(--fw-6);
  background: var(--oxford-blue-50);
}

.live-card .play {
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0;
  z-index: 10;
}

.live-card .play ion-icon {
  font-size: 80px;
  --ionicon-stroke-width: 20px;
  color: var(--white);
}

.live-card:hover .play {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1); 
}

.live-card .card-body {
  display:         flex;
  justify-content: flex-start;
  align-items:     flex-start;
}

.live-card .avatar {
  width: 40px;
  border-radius: 10px;
  margin-right: 15px;
}

.live-card .card-title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-5);
}

.live-card:hover .card-title { color: var(--light-azure); }




/* Foooter Section */

footer{
    background: var(--oxford-blue-50);
    padding:80px var(--px) 40px ;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* align-items: center; */
    border-bottom: 1px solid var(--oxford-blue-50);
    border-bottom: 80px;
}
.foter-brand{
    max-width: 250px;
    margin-right: 130px;
}
.footer-logo{
    width: 100px;
    margin-bottom: 30px;
}
.slogan{
    font-size: var(--fs-sm);
    line-height: 20px;
    margin-bottom: 20px;

}

.social-link a{
    display: inline-block;


}
.social-link ion-icon{
    font-size: 25px;
    margin-right: 20px;
}
.footer-links {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    align-items: flex-end;

}
.link-heading{
    margin-bottom: 20px;
}
.link-item{
    font-size: var(--fs-sm);
}
ul .link-item:not(:last-child){
    margin-bottom: 10px;
}
.link-item:hover a{
    color: var(--light-azure);
}

.footer-copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;

}
.footer-copyright p,
.wrapper a {
    font-size: var(--fs-sm);
}
.wrapper a:hover { 
    color: var(--light-azure);
}

.wrapper {
     display: flex;
}

.wrapper a:not(:last-child) {
     margin-right: 30px;
}



   




